
html,body{width: 95%;margin: 10px auto;
    background: #fff; 
}
#wrapper {
	margin: 10px auto;
    overflow: hidden;
}
main {
    width: 78%;
    float: left;
}
aside {
    width: 20%;
    float: right;
}
header,main,aside,footer {
    height: 40px;
    border: 1px solid #ccc;
}
@media screen and (max-width: 480px) {
    main { 
        width: auto;
        float: none;
    }
    aside { 
        width: auto;
        float: none;
        margin-top: 10px;
    }
}
